input {
    width: 100px;
}
label{
    font-style: italic;
    font-weight: bold;
    
}
#face1{
    text-align: center;
    margin-top: 50px;
    margin-right: 10px; 
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background-image:linear-gradient(rgb(206, 226, 238) , rgb(29, 68, 245)) !important; 
}

#face2{
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background-image:linear-gradient(rgb(245, 206, 206) , rgb(252, 30, 30)) !important; 
}

h4{
margin-bottom: 30px;
}

.val {
    margin-left: 10px !important;
}

 button {
     margin-top: 20px;
 }

 #resultat{
     text-align: left !important;
     background-color: lightgrey;
     margin-top: 20px;
     font-weight: bold;
 }

 #resultat1{
     text-align: left !important;
    background-color: lightgrey;
    margin-top: 20px;
    font-weight: bold;
}
